.div-tsk{
    margin:5% 10%;
    width:80%;
    background-color: rgb(235, 236, 236);
    border-radius:15px;
}
.divCount{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.counter{
    margin:20px 20px;
    display:flex;
    flex-direction: row;
}
.num-task{
    padding:6px 12px;
    margin-left:15px;
    margin-top:-5px;
    border-radius:25px;
    background-color:azure
}
.clear{
    border:1px solid;
    padding:10px;
    height:2%;
    margin-top: 12px;
    margin-right:15px;
    border-radius:8px;
    background-color:rgb(140, 72, 203);
    color:white;
    font-weight:bold;
    cursor:pointer;
}
.itens{
    border-top:1px solid grey;
    border-bottom:none;
    border-left:none;
    border-right:none;
}
.ul-tsk{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
}
.li{
    text-decoration:none;
    width:30%;
    padding:45px;
    display:flex;
    margin:15px;
    background-color: rgb(235, 236, 236);
    border-radius:12px;
    border:0.3px solid;
    border-left:13px solid rgb(56, 56, 182);
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:wrap;
}
.nome-tarefa{
    font-size:30px;
    justify-content: flex-start;
    margin-top:-30px;
    margin-left: -35px;
}
.bi-trash{
    margin-top:-12%;
    margin-left:75%;
}
.bi-pencil{
    margin-top:-12%;
}
.date{
    text-align: center;
    
}

